<html>
  <head>
    <title>Disaster Classification Model as a Flask API</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Classify Tweets or Text Messages as Informative or Not Informative for a Disaster</h1>
    <form action="/predict" method="post" enctype="multipart/form-data">
     <input type="text" name="message">
     <input type="submit" value="Predict"> {% if label %} {{ label }} {% endif %}
</form>
  </body>
</html>
